<footer class="center-align">
    <p>Wszelkie prawa zastrzeżone, ITZILLA 2020 &copy;</p>
    <p>Strona stworzona przez <a href="https://github.com/Wierzba13" target="_blank" class="blue-text lighten-3">Raula Wierzbińskiego</a></p>
</footer>
<script>
    $(document).ready(function() {
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>