<%- include('./modules/head.ejs') %>
<%- include('./modules/nav.ejs') %>

<header class="welcome--baner valign-wrapper heading--title">
    <h1 class="center-align">Witaj na naszej stronie!</h1>
    <h3 class="center-align">Zapraszamy na naszego 
        <a href="/blog" class="btn light-blue darken-4 hoverable">bloga</a>
    </h3>
</header>

<section class="container section about--blog">
    <h2 class="center-align heading--title">Na naszym blogu znajdziesz: </h2>

    <div class="col s12 l4 transparent">
        <div class="card">
            <div class="card-image">
                <a href="#" class="halfway-fab btn-floating light-blue darken-4 pulse">
                    <i class="material-icons">note</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">Premiery</span>
                <p class="grey-text text-darken-1">Przecieki oraz informacje o nadchodzacych premierach uzyskane przez naszych redaktorów z wiarygodnych źródeł.</p>
            </div>
            <div class="card-action">
                <a href="#" class="blue-text text-lighten-3">More info</a>
            </div>
        </div>
    </div>
    <div class="col s12 l4 transparent">
        <div class="card second--card">
            <div class="card-image">
                <a href="#" class="left halfway-fab btn-floating light-blue darken-4 pulse">
                    <i class="material-icons">computer</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">Porady</span>
                <p class="grey-text text-darken-1">Porady dotyczące składania komputerów, ich naprawy, różnych programów komputerowych oraz systemów operacyjnych.</p>
            </div>
            <div class="card-action">
                <a href="#" class="blue-text text-lighten-3">More info</a>
            </div>
        </div>
    </div>
    <div class="col s12 l4 transparent">
        <div class="card">
            <div class="card-image">
                <a href="#" class="halfway-fab btn-floating light-blue darken-4 pulse">
                    <i class="material-icons">code</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">Programowanie</span>
                <p class="grey-text text-darken-1">Regularne blogi dotyczące programowania w Pythonie i Javie dzięki, którym poznasz podstawy programowania i algorytmiki.</p>
            </div>
            <div class="card-action">
                <a href="#" class="blue-text text-lighten-3">More info</a>
            </div>
        </div>
    </div>



</section>

<%- include('./modules/footer.ejs') %>