@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

html {
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;    
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: #050F1B;
}
::-webkit-scrollbar-thumb {
    background: #01579B;
}
::-webkit-scrollbar-thumb:hover {
    background: #023964;
}

.heading--title {
    font-family: 'Pacifico', cursive !important;
    letter-spacing: 3px;
}
.no--blogs {
    margin: 150px auto;
    font-family: 'Bree Serif', serif;
}
.our--blog {
    text-shadow: 2px 2px 10px #000;
}

/* SearchBox */
.nav-wrapper {
    height: 60px;
}
.search--blog,
.input-field {
    height: 100%;
}
.search--blog .input-field {
    border-bottom: 1px solid #103353;
}
.input-field input[type="search"]:Focus:not(.browser-default) {
    background-color: transparent;
    color: #fff !important;
    font-size: 1.5rem;
    box-shadow: 2px 2px 5px #103353,
                0 0 0 transparent;
}
.blogs--box .nav-wrapper .input-field i {
    color: #fff;
    cursor: pointer;
    line-height: 60px;
}
.input-field input[type="search"]:Focus:not(.browser-default) + label i,
.input-field input[type="search"]:Focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type="search"]:Focus:not(.browser-default) ~ .material-icons {
    color: #fff !important;
}

.card-title,
.second--title {
    font-family: 'Bree Serif', serif;
    font-style: italic;
    font-weight: bold !important;
    letter-spacing: 1px;
}

.mobile--nav__icons {
    width: 100%;
    position: absolute;
    bottom: 80px;
    margin: 0 auto;
}

.welcome--baner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../img/headerPic.jpg');
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 64px);
}
.welcome--baner > * {
    text-shadow: 3px 3px 5px #103353;
}
.welcome--baner h3 a {
    text-shadow: none ;
}
@media(max-width: 600px) {
    .welcome--baner {
        min-height: calc(100vh - 56px);
    }
}

.about--blog {
    margin: 50px auto;
    border-radius: 13px;
    padding: 30px 10px;
    background-image: url('../img/sectionPic.jpg');
    background-blend-mode: difference;
    background-size: cover;
    background-position: center;
}
.about--blog h2 {
    margin: 0;
    padding: 0 10px;
}

.card { background-color: rgba(0, 0, 0, .7); margin: 50px auto !important;}
.card-action { border-top: none !important; }
.second--card {
    text-align: right;
}

/* Blog page */
.blogs--box { margin: 50px auto; }
.card--blog {
    background-color: rgba(36, 99, 158, 0.2);
}
.card--date {
    display: inline-block;
    margin: 5px 0 30px 0;
    font-size: 0.9rem;
    color: #ccc;
}

footer { height: auto; padding: 10px; font-size: 0.85rem; }
footer p { margin: 5px auto; padding: 10px auto; }
